body {
	background: url(fon.jpg);
	position: absolute;
	background-size: 1600px 899px;
	
}

#shapka{
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0.3em;
	word-spacing: 2em;
	position: fixed;
	top: 44px;
	left: 500px;
}

#kart1{
	position: fixed;
	top: 16px;
	left: 136px;
}

#menu{
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 0.25em;
	position: fixed;
	top: 250px;
	left: 700px;
	line-height: 10px;
}

.box{
	background-color: white;
	width: 644px;
	height: 496px;
	position: fixed;
	top: 170px;
	left:0;
	border: 7px solid #ef6262;
}

.prev, .next{
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	bottom: 50%;
	padding: 12px;
	width: 16px;

}

.next{
	right: 0px;
}

.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color:0.6s ease;
}

#dot1 {
	position: absolute;
	right: 80px;
	bottom: 10px;
}
#dot2 {
	position: absolute;
	right: 60px;
	bottom: 10px;
}
#dot3 {
	position: absolute;
	right: 40px;
	bottom: 10px;
}

#dot4 {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.active, .dot:hover{
	background-color: #717171;

}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration:2s;
	animation-name:fade;
	animation-duration:2s;
}

@keyframes fade{
	0%{opacity:0.7;}
	100%{opacity:1;}
}
